<a href="https://colab.research.google.com/github/Hypersonic945/Hypersonic945/blob/main/clase_de_programacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("ingrese el valor a "))
b = int(input("ingrese el valor b "))

print("suma:", a + b)
print("resta:", a - b)
print("multiplicacion:", a * b)
print("divicion:", a / b)
print("parte entera:", a//b)

ingrese el valor a 12
ingrese el valor b 4
suma: 16
resta: 8
multiplicacion: 48
divicion: 3.0
parte entera: 3

In [ ]:
x = int(input("ingrese el valor de x "))

z = int(input("ingrese el valor de z "))

print("¿sus valores son iguales?", x == z )

print("¿x es mayor que z?", x > z )

print("¿x es menor que z?", x < z )

ingrese el valor de x 12
ingrese el valor de z 87
¿sus valores son iguales? False
¿x es mayor que z? False
¿x es menor que z? True

In [ ]:
x = int(input("ingrese el valor de x "))
z = int(input("ingrese el valor de z "))
c = x + z

print("x es mayor que z y z es menor que c:", x > z and z < c )
print("x es mayor que z o z es menor que c:", x >z or z < c)
print("z es menor que c y z es menor que x:", z < c and z < x)
# no pos miau

ingrese el valor de x 26
ingrese el valor de z 36
x es mayor que z y z es menor que c: False
x es mayor que z o z es menor que c: True
z es menor que c y z es menor que x: False

In [ ]:
print(bool(None))
print(bool(False))

False
False

In [ ]:
frutas = ["manzana", "banano", "fresa"]
print(frutas)

['manzana', 'banano', 'fresa']

In [ ]:
print(frutas[1])

banano

In [ ]:
autos = ["Abarth", "Apollo", "Ferrari", "Fiat", "Fornasaria", "Iveco"]
print(autos)

['Abarth', 'Apollo', 'Ferrari', 'Fiat', 'Fornasaria', 'Iveco']

In [ ]:
print(autos[2])
print(autos[4])
#a XD

Ferrari
Fornasaria

In [ ]:
frutas = ["manzana", "banana", "fresa", "naranja", "kiwi", "melon", "mango"]
print(frutas, len(frutas))
frutas[2] = "granada"
print(frutas, len(frutas))
frutas[1:4] = ["arandanos", "ciruela", "sandia"]
print(frutas, len(frutas))
frutas[2:5] = ["granadilla"]
print(frutas, len(frutas))

['manzana', 'banana', 'fresa', 'naranja', 'kiwi', 'melon', 'mango'] 7
['manzana', 'banana', 'granada', 'naranja', 'kiwi', 'melon', 'mango'] 7
['manzana', 'arandanos', 'ciruela', 'sandia', 'kiwi', 'melon', 'mango'] 7
['manzana', 'arandanos', 'granadilla', 'melon', 'mango'] 5

In [ ]:
frutas = ["manzana", "banana", "fresa"]
print(frutas, len(frutas))
frutas.insert(2, "pera")
print(frutas, len(frutas))

['manzana', 'banana', 'fresa'] 3
['manzana', 'banana', 'pera', 'fresa'] 4

In [ ]:
frutas1 = ["manzana", "banano", "fresa"]
frutas2 = ["naranja", "kiwi", "melon"]
print(frutas1, len(frutas1,))
print(frutas2, len(frutas2))
frutas2.append("sandia")
print(frutas2, len(frutas2))
frutas1.insert(1, "aranadanos")
print(frutas1, len(frutas1))
frutas = frutas1 + frutas2
print(frutas, len(frutas))

['manzana', 'banano', 'fresa'] 3
['naranja', 'kiwi', 'melon'] 3
['naranja', 'kiwi', 'melon', 'sandia'] 4
['manzana', 'aranadanos', 'banano', 'fresa'] 4
['manzana', 'aranadanos', 'banano', 'fresa', 'naranja', 'kiwi', 'melon', 'sandia'] 8

In [ ]:
frutas = ["manzana", "banano", "fresa", "naranja", "kiwi", "melon"]
print(frutas, len(frutas))
del(frutas)

['manzana', 'banano', 'fresa', 'naranja', 'kiwi', 'melon'] 6

In [ ]:
frutas = ["manzana", "banano", "fresa", "sandia"]
primero,*_,ultimo = frutas
print(primero)
print(ultimo)
print(_)

manzana
sandia
['banano', 'fresa']

In [ ]:
frutas = ["manzana", "banano", "fresa", "sandia"]
primero,segundo,*_ = frutas
print(primero)
print(segundo)
print(_)

manzana
banano
['fresa', 'sandia']

In [ ]:
frutas = ["manzana", "banano", "fresa", "sandia"]
*_, antepenultimo, ultimo = frutas
print(antepenultimo)
print(ultimo)
print(_)

fresa
sandia
['manzana', 'banano']

In [ ]:
frutas = ["manzana", "banano", "fresa", "sandia"]
primero,segundo,*_,ultimo = frutas
print(primero)
print(segundo)
print(ultimo)
print(_)

manzana
banano
sandia
['fresa']

In [ ]:
paises = ("Alemania", "Austria", "Andorra", "Bélgica", "Chipre", "Eslovaquia")
print(paises[3])
print(paises[:3])
print(paises[4:])
print(paises[1:])
pais = ('colombia')
print(pais)

Bélgica
('Alemania', 'Austria', 'Andorra')
('Chipre', 'Eslovaquia')
('Austria', 'Andorra', 'Bélgica', 'Chipre', 'Eslovaquia')
colombia
<class 'type'> ('Alemania', 'Austria', 'Andorra', 'Bélgica', 'Chipre', 'Eslovaquia')

In [ ]:
animales = ("perro", "loro", "delfin", "castor", "gato", "delfin", "oso")
print(animales)
animales2 = list(animales)
animales2[2] = "zorro"
print(animales2)
animales2.remove("castor")
print(animales2)
animales2.insert(2,"leon")
print(animales2)
animales2 = animales2 *2
print(animales2)
animales = tuple(animales2)

('perro', 'loro', 'delfin', 'castor', 'gato', 'delfin', 'oso')
['perro', 'loro', 'zorro', 'castor', 'gato', 'delfin', 'oso']
['perro', 'loro', 'zorro', 'gato', 'delfin', 'oso']
['perro', 'loro', 'leon', 'zorro', 'gato', 'delfin', 'oso']
['perro', 'loro', 'leon', 'zorro', 'gato', 'delfin', 'oso', 'perro', 'loro', 'leon', 'zorro', 'gato', 'delfin', 'oso']

In [ ]:
animales = ("perro", "loro", "delfin", "perro", "zorro", "castor", "canario")
print("perro" in animales)
if

True

In [ ]:
comidas = {"pasta", "pizza", "mariscos"}
comidas2 = {"hamburguesa", "arepa", "pizza"}
print(comidas, len(comidas))
print(comidas2, len(comidas2))
comidas.update(comidas2)
print(comidas, len(comidas))
comidas.add('sushi')
print(comidas, len(comidas))
comidas.remove('hamburguesa')

elemento_aleatorio = comidas.pop()
print("elemento aleatorio eliminado: ", elemento_aleatorio)
print(comidas, len(comidas))

comidas.clear()
print(comidas)

{'pizza', 'mariscos', 'pasta'} 3
{'pizza', 'arepa', 'hamburguesa'} 3
{'pizza', 'mariscos', 'arepa', 'pasta', 'hamburguesa'} 5
{'pizza', 'mariscos', 'arepa', 'sushi', 'pasta', 'hamburguesa'} 6
elemento aleatorio eliminado:  pizza
{'mariscos', 'arepa', 'sushi', 'pasta'} 4
set()

In [ ]:
comidas1 = {"pasta", "pizza", "mariscos", "hamburguesa", "cafe"}
comidas2 = ["pizza", "arepa", "sushi", "hamburguesa", "papas"]
comidas = comidas1.union(comidas2)
print(comidas)

{'pizza', 'mariscos', 'arepa', 'papas', 'sushi', 'cafe', 'pasta', 'hamburguesa'}

In [ ]:
comidas1 = {"pasta", "pizza", "mariscos"}
comidas2 = ["pizza", "arepa", "sushi"]
comidas1.intersection_update(comidas2)
print(comidas1)

{'pizza'}

In [ ]:
comidas1 = {"pasta", "pizza", "mariscos"}
comidas2 = ["pizza", "arepa", "sushi"]
comidas.symmetric_difference_update(comidas2)
comidas1

{'mariscos', 'pasta', 'pizza'}

In [ ]:
nevera = {"salchichas", "carne", "leche"}
mercado = {"carne", "huevos", "queso"}
print(nevera)
print(mercado)
nevera.intersection_update(mercado)
nevera
print(nevera)
cosas = nevera.union(mercado)
print(cosas)

{'carne', 'leche', 'salchichas'}
{'huevos', 'carne', 'queso'}
{'carne'}
{'huevos', 'carne', 'queso'}

In [ ]:
datos = {
'nombre': 'Joan',
'apellido': 'Douglas',
'edad': '12',
'trabajo': 'nada XD',
'pasatiempo': 'videojuegos',
}
print(datos)
print(len(datos))
print(datos.keys())
print(datos.values())
print(datos.items())
print('marca' in datos)

{'nombre': 'Joan', 'apellido': 'Douglas', 'edad': '12', 'trabajo': 'nada XD', 'pasatiempo': 'videojuegos'}
5
dict_keys(['nombre', 'apellido', 'edad', 'trabajo', 'pasatiempo'])
dict_values(['Joan', 'Douglas', '12', 'nada XD', 'videojuegos'])
dict_items([('nombre', 'Joan'), ('apellido', 'Douglas'), ('edad', '12'), ('trabajo', 'nada XD'), ('pasatiempo', 'videojuegos')])
False

In [ ]:
carros1 = {"marca": "ford",
          "modelo": "mustang",
          "agno": 1964}

print("carrros1: ", carros1)

carros2 = carros1

print("carros2: ", carros2)

carros1["agno"] = 1970

print("carros2: ", carros2)

carrros1:  {'marca': 'ford', 'modelo': 'mustang', 'agno': 1964}
carros2:  {'marca': 'ford', 'modelo': 'mustang', 'agno': 1964}
carros2:  {'marca': 'ford', 'modelo': 'mustang', 'agno': 1970}

In [ ]:
carros1 = {"marca": "ford",
          "modelo": "mustang",
          "agno": 1964}

print(carros1)

carros2 = carros1.copy()

print(carros2)

carros1["agno"] = 1970

print(carros2)

{'marca': 'ford', 'modelo': 'mustang', 'agno': 1964}
{'marca': 'ford', 'modelo': 'mustang', 'agno': 1964}
{'marca': 'ford', 'modelo': 'mustang', 'agno': 1964}

In [ ]:
datos = {"nombre": "Joan",
         "apellido": "Douglas",
         "edad": "12",
         "trabajo": "nada XD",
         "pasatiempo": "videojuegos",
         }

In [ ]:
datos1 = {"nombre_com": "Joan Alexis Douglas Galvis",
         "edad": "12",
         "trabajo": "no trabajo",
         "colegio": "Salesiano"
         }

print("datos1: ", datos1)

datos2 = datos1.copy()

print("datos2: ", datos2)

del(datos1)

print("datos2: ", datos2)

datos1:  {'nombre_com': 'Joan Alexis Douglas Galvis', 'edad': '12', 'trabajo': 'no trabajo', 'colegio': 'Salesiano'}
datos2:  {'nombre_com': 'Joan Alexis Douglas Galvis', 'edad': '12', 'trabajo': 'no trabajo', 'colegio': 'Salesiano'}
datos2:  {'nombre_com': 'Joan Alexis Douglas Galvis', 'edad': '12', 'trabajo': 'no trabajo', 'colegio': 'Salesiano'}

In [ ]:
cadena = """ python no tiene un tipo de dato cerrado.

In [ ]:
produncto = "ventilador"

precio = 95000

descuento = 12.1254

final = precio - (precio * (descuento/100))

/c {print("el producto",producto,)}

In [10]:
a = input("ingrese el valor de a : ")
b = input("ingrese el valor de b : ")
operacion = input("cual operacion quiere : ")

if operacion == "Suma":
  print("el valor de la suma es:  {a + b}")

elif operacion == "Resta":
  print("el valor de la resta es: {a - b}")

elif operacion == "Multiplicación":
  print("el valor de la multiplicación es:  {a * b}")

elif operacion == "Division":
  print("el valor de la division es:  {a / b}")

else:
  print("la operacion que elegiste no es valida") #esto es para distraes XD

ingrese el valor de a : 12
ingrese el valor de b : 31
cual operacion quiere : Multiplicación
el valor de la multiplicación es:  {a * b}

In [13]:
a = int(input("ingrese el valor de a: "))
b = int(input("ingrese el valor de b: "))
c = int(input("ingrese el valor de c: "))

if a == b and b == c:
  print("los tres valores son iguales") #no pos miau XD

if (a == b and b != c) or (a != b and b == c): #si lees esto tendras un gran dia (creo)
  print("solo dos valores son iguales")

if a != b and b != c:
  print("todos los valores son diferentes") #Michis XD

ingrese el valor de a: 12
ingrese el valor de b: 12
ingrese el valor de c: 12
los tres valores son iguales