<a href="https://colab.research.google.com/github/Hypersonic945/Hypersonic945/blob/main/Copia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("ingrese el valor a "))
b = int(input("ingrese el valor b "))

print("suma:", a + b)
print("resta:", a - b)
print("multiplicacion:", a * b)
print("divicion:", a / b)
print("parte entera:", a//b)

ingrese el valor a 18
ingrese el valor b 15
suma: 33
resta: 3
multiplicacion: 270
divicion: 1.2
parte entera: 1

In [ ]:
x = int(input("ingrese el valor de x "))

z = int(input("ingrese el valor de z "))

print("¿sus valores son iguales?", x == z )

print("¿x es mayor que z?", x > z )

print("¿x es menor que z?", x < z )

ingrese el valor de x 1
ingrese el valor de z 2
¿sus valores son iguales? False
¿x es mayor que z? False
¿x es menor que z? True

In [ ]:
x = int(input("ingrese el valor de x "))
z = int(input("ingrese el valor de z "))
c = x + z

print("x es mayor que z y z es menor que c:", x > z and z < c )
print("x es mayor que z o z es menor que c:", x >z or z < c)
print("z es menor que c y z es menor que x:", z < c and z < x)
# no pos miau

ingrese el valor de x 9
ingrese el valor de z 6
x es mayor que z y z es menor que c: True
x es mayor que z o z es menor que c: True
z es menor que c y z es menor que x: True

In [ ]:
print(bool(None))
print(bool(False))

False
False

In [ ]:
frutas = ["manzana", "banano", "fresa"]
print(frutas)

In [ ]:
print(frutas[1])

In [ ]:
autos = ["Abarth", "Apollo", "Ferrari", "Fiat", "Fornasaria", "Iveco"]
print(autos)

['Abarth', 'Apollo', 'Ferrari', 'Fiat', 'Fornasaria', 'Iveco', 'Ferrari']

In [ ]:
print(autos[2])
print(autos[4])
#a XD

In [ ]:
frutas = ["manzana", "banana", "fresa", "naranja", "kiwi", "melon", "mango"]
print(frutas, len(frutas))
frutas[2] = "granada"
print(frutas, len(frutas))
frutas[1:4] = "arandanos", "ciruela", "sandia"
print(frutas, len(frutas))
frutas[2:5] = "granadilla"
print(frutas, len(frutas))

['manzana', 'banana', 'fresa', 'naranja', 'kiwi', 'melon', 'mango'] 7
['manzana', 'banana', 'granada', 'naranja', 'kiwi', 'melon', 'mango'] 7
['manzana', 'arandanos', 'ciruela', 'sandia', 'kiwi', 'melon', 'mango'] 7
['manzana', 'arandanos', 'g', 'r', 'a', 'n', 'a', 'd', 'i', 'l', 'l', 'a', 'melon', 'mango'] 14